<label for="searchBar" class="col-sm-2 col-form-label">Search artists: </label>
<input id="searchBar" (keyup)="onKey($event)">

<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let artist of artists">
        <ng-template ngbPanelTitle>
            <span>{{artist.name}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
            <a href={{artist.external_urls.spotify}} target="_blank">Spotify link</a>
            <button class = "btn-success" (click)="addToDb(artist)">Add artist to db</button>
            <button class = "btn-success"  (click)="addAlbums()">Add albums</button>
        </ng-template>
    </ngb-panel>
</ngb-accordion>